#root {

  margin: 0 auto;

  text-align: center;
}

.header{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard{
  display: flex;
  flex-direction: column;
  
  
}

.tables{
  overflow-y: scroll;
  width: 90vw;
}